<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798526621980-j8d9jib7nlksc7kmv2nfb694599002b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798526621980-j8d9jib7nlksc7kmv2nfb694599002b2</string>
	<key>API_KEY</key>
	<string>AIzaSyAesH1cHjvKt0iVlLfGNxM8saB6IGxsyQI</string>
	<key>GCM_SENDER_ID</key>
	<string>798526621980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cyrusIllick.cameraFollowGame</string>
	<key>PROJECT_ID</key>
	<string>scores-46ae8</string>
	<key>STORAGE_BUCKET</key>
	<string>scores-46ae8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798526621980:ios:fc600d11d6596917</string>
	<key>DATABASE_URL</key>
	<string>https://scores-46ae8.firebaseio.com</string>
</dict>
</plist>